<%= link_to track_path(track.id) do %>
    <div id="track-box-<%= track.id %>" class="flex h-60 w-10/12 bg-sky-400 bg-black m-auto rounded-lg mt-9" data-access-token="<%= current_user.access_token %>" data-track-id="<%= track.song.song_code %>">
      <input type="hidden" id="access-token-input" value="<%= current_user.access_token %>">
      <input type="hidden" id="track-id-input" value="<%= track.id %>">
      <input type="hidden" id="song-code-input" value="<%= track.song.song_code %>">
    <div class='flex-cot'>
      <div class="flex w-auto">
        <div class="flex flex-col ml-9 mr-90">
          <div id='artist-box' class='mt-9 font-semibold'><%= track.song.album.artist_name %></div>
          <div id='title-box' class='mt-9 font-semibold'><%= track.song.song_name %></div>
        </div>

          <div id='tempo-box' class='flex bg-sky-100 flex-col ml-auto'>
            <div class="text-7xl"><%= track.bpm %></div>
            <div class="bg-black h-1 w-full"></div>
            <div class="text-7xl"><%= track.song.bpm %></div>
          </div>
      </div>

      <div id='tag-box' class='flex'>
        <div class='flex'>
          <div class="ml-9 border-double font-semibold"><%= track.instrument%></div>
          <div class="ml-9 border-double font-semibold"><%= track.section%></div>
        </div>
        <div class='flex ml-52'>
        
          <div class="ml-9 border-double font-semibold" >編集</div>
        </div>
      </div>
    </div>
    </div>
  </div>
<% end %>
  <div class="ml-9 h-9 w-24 border-double font-semibold flex flex-row">
    <div class="m-2">
      <%= button_to "delete", track_path(track.id), method: :delete %>
    </div>
    <div class="m-2">
      <%= link_to 'edit', edit_track_path(track.id) %>
    </div>
    <div>
        <div><%=  link_to 'like', track_likes_path(track.id), data: { "turbo-method": :post }  %></div>
        <div><%= button_to 'liked',  track_likes_path(track.id), method: :delete %></div>
    </div>
  </div>
<%# <script src="https://sdk.scdn.co/spotify-player.js"></script>
<%= javascript_include_tag 'spotify-play' %>

 
   