<h1><%= t(".title") %></h1>

<%= form_with url: search_artist_tracks_path, method: :get, local: true do |form| %>
<%= form.text_field :search %>
<%= form.submit t(".search"), name: nil %>
<% end %>


<h1><%=t(".result")%></h1>
<div>
  <% if @searchartists.present? %>
    <% @searchartists.each do |searchartist| %>
      <div>
        <%= link_to searchartist.name,search_album_tracks_path(artist_id: searchartist.id) %>
        <h3><%= searchartist.name %></h3>
          <% if searchartist.images.any?%>
            <%image = searchartist.images[1]%>
            <%= image_tag(image["url"])%>
          <%else%>
            <%= image_tag("noimage.png")%>
          <%end%>
      </div>
    <%end%>
  <%end%>
</div>
