<h1>Tracks#show</h1>
<h1><%= @track.song.song_name%></h1>
<div id="track-box-<%= @track.id %>" class="flex h-60 w-10/12 bg-sky-400 bg-black m-auto rounded-lg mt-9">
    <input type="hidden" id="access-token-input" value="<%= current_user.access_token %>">
    <input type="hidden" id="track-id-input" value="<%= @track.id %>">
    <input type="hidden" id="song-code-input" value="<%= @track.song.song_code %>">
</div>

<div class="comment-wrapper border-top mb-10">
  <p class="text-center mt-2 font-bold">コメント一覧</p>
  <% @comments.each do |c| %>
    
    <div class="w-10/12 rounded-lg flex flex-row m-auto">
      <% unless c.user.blank? %>
       <div id='comment-box', class="w-1/12 h-1/12" >
        <a href="<%= user_path(c.user_id) %>"><%= c.user.avatar.attached? ? (image_tag c.user.avatar, class:"rounded-full") : (image_tag "blank-profile", class:"rounded-full") %></a>
         <div class='text-center'>
            <%= c.user.name unless c.user.blank? %>
          </div>
        </div>
        <div class='p-2 rounded-lg w-11/12 m-2 bg-gray-200'>
          <%= c.content %>
        </div>
      <% end %>
      </div>
     
      <br />
      
    </div>
    <br />
  <% end %>
  <%# <% if user_signed_in? %>
<div id='comment-textbox-wrapper' class='border-solid border-2 border-gray-500 flex flex-col items-center justify-center' style='height: 50vh;'>
  <%= form_with(model: @comment, url: track_comments_path(@track), local: true) do |f| %>
    <div class='w-11/12'>
      <%= f.text_area :content, class: "border-solid border-2 border-gray-400", cols:"60", rows: 5 %>
    </div>
    <%= f.submit 'submit', class: "btn btn-success mt-1" %>
  <% end %>
</div>


  <%# <% end %>
</div>

<script src="https://sdk.scdn.co/spotify-player.js"></script>
<%= javascript_include_tag 'spotify-play' %>