<h1>Tracks#show</h1>
<h1><%= @track.song.song_name%></h1>
<div id="track-box-<%= @track.id %>" class="flex h-60 w-10/12 bg-sky-400 bg-black m-auto rounded-lg mt-9">
    <input type="hidden" id="access-token-input" value="<%= current_user.access_token %>">
    <input type="hidden" id="track-id-input" value="<%= @track.id %>">
    <input type="hidden" id="song-code-input" value="<%= @track.song.song_code %>">
</div>

<div class="comment-wrapper border-top　mb-10">
  <p class="mt-5">コメント一覧</p>
  <% @comments.each do |c| %>
    <div>
      <% unless c.user.blank? %>
        <a href="<%= user_path(c.user_id) %>"><%= image_tag c.user.avatar,
          class:"rounded-circle icon_image mr-3 mb-3"%></a>
        <% end %>
      <%= c.user.name unless c.user.blank? %>
      <br />
      <%= c.content %>
    </div>
    <br />
  <% end %>
  <%# <% if user_signed_in? %>
    <%= form_with(model: @comment, url: track_comments_path(@track), local: true) do |f| %>
      <%= f.text_area :content, class: "form-control", rows: 5 %>
      <%= f.submit 'submit', class: "btn btn-success float-right mt-1" %>
    <% end %>
  <%# <% end %>
</div>

<script src="https://sdk.scdn.co/spotify-player.js"></script>
<%= javascript_include_tag 'spotify-play' %>