<div class='flex flex-row bg-green-200 w-2/5 rounded'>
<%= link_to user_path(user) do%>
<%= user.avatar.attached? ? (image_tag user.avatar, class:"rounded-full h-32 w-32 m-2") : (image_tag "blank-profile", class:"rounded-full") %>
<%end%>
  <div class='flex flex-col'>
    <%= link_to user_path(user) do%>
     <p class='font-bold ml-10 mt-2'><%= user.name%></p>
    <% end %>
    <p class='font-bold ml-10 mt-2 border-double border-4 border-sky-500 text-center rounded-md'><%= user.instrument%></p>
</div>