<%= form_with model: @user do |f| %>
  <%= render 'shared/error_messages' %>
  
  
  
  <%= f.label :email %>
  <%= f.text_field :email, value:@email %>
  <%= f.label :name %>
  <%= f.text_field :name, value:@name %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <%= f.select :instrument, User.instruments.keys %>
  
  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar, id: 'user_avatar', value: @image_url %>
  </div>
  <div id="avatar-preview-container"></div>
  
  <%= f.submit "保存" %>
<% end %>

<style>
  .avatar-preview {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
  }
</style>

<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        var previewContainer = document.getElementById('avatar-preview-container');
        previewContainer.innerHTML = '<img src="' + e.target.result + '" alt="Avatar Preview" class="avatar-preview">';
      }
      reader.readAsDataURL(input.files[0]);
    }
  }

  document.getElementById('user_avatar').addEventListener('change', function() {
    readURL(this);
  });
</script>