 <body>

  <!-- Hero section with heading, subheading and button -->
  <div id='user-image-container'
    class="bg-neutral-50 px-6 py-20 text-center text-neutral-800 dark:bg-neutral-700 dark:text-neutral-200 ">
    <div class="w-1/12 h-1/12 m-auto" ><%= @user.avatar.attached? ? (image_tag @user.avatar, class:"rounded-full") : (image_tag "blank-profile", class:"rounded-full") %></div>
    <h3 class="mb-8 text-3xl font-bold mt-10"><%= @user.name%></h3>
    <div id='follow-btn-wrapper', class='w-auto h-auto'>
      <%= render 'follow_form' if logged_in? %>
       <section class="stats">
        <%= render 'shared/stats' %>
      </section>
  </div>
  </div>
  
</header>
<div id='serecter', class='flex flex-row w-auto'>
  <div class='bg-gray-300 w-1/2 h-16 border-2 border-gray-100 rounded text-center py-2 hover:opacity-75 flex items-center justify-center cursor-pointer'>
    <div>
      <p class='font-medium leading-relaxed'>track</p>
    </div>
  </div>
  <div class='bg-gray-300 w-1/2 h-16 border-2 border-gray-100 rounded text-center py-2 hover:opacity-75 flex items-center justify-center cursor-pointer'>
    
    <%= link_to 'like!',likes_user_path(@user), class:'font-medium'%>
  </div>
</div>
  <div id="track-container" class='grid grid-cols-3 gap-4'>
  
    <%=  render  @tracks %>

  </div>
  <div class="fixed right-20 bottom-20 cursor-pointer z-50">
    <%= link_to image_tag('create-96'),  search_artist_tracks_path %>
  </div>
</body>